
@{
    ViewBag.Title = "商品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.ProductType</h2>

<div id="xyz-ListProduct">
    <div class="xyz_products">  
        <div class="xyz_productitem" v-for="(item,productIndex) in productlist" v-bind:key="productIndex">
            <form action="/Home/ListProduct" method="post" onsubmit="return submit_sure()">
                <input type="hidden" name="ProductId" v-bind:value="item.ProductId" readonly /> 
                 <input type="hidden" name="ProductType" v-bind:value="item.ProductType" readonly /> 
                 <input type="hidden" name="ProductBrand" v-bind:value="item.ProductBrand" readonly /> 
                 <input type="hidden" name="ProductName" v-bind:value="item.ProductName" readonly /> 
                 <input type="hidden" name="ProductPriceOut" v-bind:value="item.ProductPriceOut" readonly /> 
                 <input type="hidden" name="ProductModel" v-bind:value="item.ProductModel" readonly /> 
                 <input type="hidden" name="ProductDetail" v-bind:value="item.ProductDetail" readonly /> 
                 <input type="hidden" name="ProductPath" v-bind:value="item.ProductPath" readonly /> 
                 <input type="hidden" name="ProductAmount" v-bind:value="item.ProductAmount" readonly />  
                <div class="xyz_probox">
                    <div class="xyz_probox_img">
                        <img v-bind:src="item.ProductPath">
                    </div>
                    <div class="xyz_line">
                        <div class="xyz_line_left">
                            品牌：
                        </div><div class="xyz_line_right">
                            {{item.ProductBrand}}
                        </div>
                    </div>
                    <div class="xyz_line">
                        <div class="xyz_line_left">
                            型号：
                        </div><div class="xyz_line_right">
                            {{item.ProductModel}}
                        </div>
                    </div>
                    <div class="xyz_line xyz_nameprice">
                        <div class="xyz_line_left">
                            名称：
                        </div>
                        <div class="xyz_line_right">
                            <a v-bind:href="'../Home/ProductList?ProductId='+item.ProductId" target="_blank">{{item.ProductName}}</a>
                        </div>
                        <div class="xyz_line_left ">
                            售价:
                        </div>
                        <div class="xyz_line_right">
                            {{item.ProductPriceOut}}
                        </div>
                    </div>
                    <div class="xyz_line">
                        <div class="xyz_line_left">
                            详情:
                        </div><div class="xyz_line_right">
                            {{item.ProductDetail}}
                        </div>
                    </div>
                    <div class="xyz_line">
                        <div class="xyz_line_left">数量：</div>
                        <div class="xyz_line_right">
                            <input type="number" min="1"  name="ProductQuantity" required> </div>
                    </div>
                    <div class="xyz_line xyz_operation">
                        <input type="submit" name="UserOrderCRUD" value="添加到购物车" class="xyz_input_submit"> 
                    </div>
                </div>
            </form>
        </div> 
    </div> 
</div>
<script>
        function HomeB() {
         var productlist = typeof @Html.Raw(ViewBag.ProductList) == 'string' ? JSON.parse(@Html.Raw(ViewBag.ProductList)) :@Html.Raw(ViewBag.ProductList);
            var xyzListProduct = new Vue({
                el: '#xyz-ListProduct',
                components: {},
                data() {
                    return {
                        productlist: productlist,
                    };
                },
                methods: {
                },
            });
        }
</script> 

<style scoped>
    .xyz_products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .xyz_nameprice .xyz_line_right {
        margin-right: 15px;
    }

    .xyz_nameprice a {
        text-decoration: none;
    }

    .xyz_productitem {
        width: 24%;
        min-height: 300px;
        display: flex;
        height: auto;
        border-radius: 4px;
        margin: 0px 5px 5px 0px;
        justify-content: center;
        align-items: center;
    }

    .xyz_probox {
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 440px;
        border-radius: 4px;
        background-color: rgba(200,200,200,0.3);
        border: 1px solid black;
        overflow: hidden;
    }

    .xyz_probox_img {
        width: 258px;
        height: 244px;
        border-radius: 4px;
    }

        .xyz_probox_img img {
            width: 258px;
            height: 244px;
            border-radius: 4px;
        }

    .xyz_input_submit {
        width: 140px;
        height: 30px;
        margin: 0px;
        text-decoration: none;
        font: bold 16px 'Trebuchet MS',Arial, Helvetica;
        display: inline-block;
        text-align: center;
        color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        text-shadow: 0 1px 0 rgba(0,0,0,0.4);
        box-shadow: 0 0 0.05em rgba(0,0,0,0.4);
        -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
        -webkit-box-shadow: 0 0 0.05em rgba(0,0,0,0.4);
        border-radius: .3em;
        background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#141414) );
    }

    .xyz_operation {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .xyz_line {
        display: flex;
        margin: 5px 0px 0px 5px;
    }

    .xyz_line_left {
        width: 60px;
        font-family: "宋体";
        display: flex;
        align-items: center;
        font-size: 14px;
        text-align: justify;
        font-weight: bold;
    }

    .xyz_line_right {
        font-family: "宋体";
        display: flex;
        align-items: center;
        font-size: 14px;
        text-align: justify;
    }

        .xyz_line_right input {
            outline: none;
        }
</style>